.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
  .container
    .navbar-header
      %a.navbar-brand(href="/")
        PPTGallery
    %ul.nav.navbar-right
      %li
        %button.btn.btn-inverse(onClick="introJs().start()" style="background-color:#222")
          %font(size="5em" color="white")
            %i.glyphicon.glyphicon-question-sign
