.starter-template
  %form(action='/upload' method='post' enctype='multipart/form-data')
    %input(id='myfile' type='file' name='myfile' style='display:none')
    .input-group
      %input.form-control(id='selectFile' type='text' placeholder='choose .ppt/.pptx/.pdf file')
      %span.input-group-btn(data-intro="CHOOSE upload file")
        %button.btn(onclick="$('input[id=myfile]').click();" type='button')
          Browse
      %input.btn.btn-primary(id='upload' type='submit' value='Upload' data-loading-text="Uploading..." data-intro="UPLOAD choosen file.")
    .modal-dialog(style="display: none; position: absolute;")
      .modal-content
        .modal-body= "Uploading&hellip;"
