#toggle_controller
  %button.btn.btn-default(style="border: 0;")
    %font(size="5em" color="grey" weight="150%")
      %i.glyphicon.glyphicon-eject |
#controller
  %button.btn.btn-inverse(style="background: rgba(0,0,0,0.5)" onClick="goFirst()")
    %font(size="2em" color="white" weight="150%")
      %i.glyphicon.glyphicon-fast-backward |
  %button.btn.btn-inverse(style="background-color: rgba(0,0,0,0.5)" onClick="goPrev()")
    %font(size="2em" color="white")
      %i.glyphicon.glyphicon-backward |
  %button#pageNumber.btn.btn-inverse(onClick="toggleAllSlide()")
  %button.btn.btn-inverse(style="background-color: rgba(0,0,0,0.5)" onClick="goNext()")
    %font(size="2em" color="white")
      %i.glyphicon.glyphicon-forward |
  %button.btn.btn-inverse(style="background-color: rgba(0,0,0,0.5)" onClick="goLast()")
    %font(size="2em" color="white")
      %i.glyphicon.glyphicon-fast-forward |
%input.prev(type="button" value=" ")
%input.next(type="button" value=" ")
